version: "3.7"

services:
      database: 
          image: postgres
          container_name: "postgres_db_dev"
          restart: always
          environment:
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: password
              POSTGRES_DB: mydb
          ports:
            - 5432:5432
          volumes:
            - postgres_data:/var/lib/postgresql/data
          networks: 
            - mynetwork


      app: 
          build: .
          image: node_app_prod
          container_name: node_app_dev
          depends_on:
            - database
          environment:
            DATABASE_URL:  "postgresql://postgres:password@database:5432/mydb"
          ports:
            - 3000:3000
          networks: 
            - mynetwork
          command: ["sh", "-c", "npx prisma migrate dev && node dist/index.js"]

volumes:
  postgres_data:

networks:
  mynetwork: